body {
  background-color: var(--clr-light);
  color: var(--clr-text);
}
section {
  padding: 4rem 1rem;
  scroll-margin-top: 100px;
}
@media(max-width: 700px) {
  section {
    padding: 3rem 1rem;
    scroll-margin-top: -10px;
  }
  
}
.hero .container{
  border-radius: var(--space-1);
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: var(--space-7) var(--space-3) var(--space-8) var(--space-3);
}
.primary-header {
  
  display: flex;
  background-color: var(--clr-primary);
  height : 100px;
  align-items: center;  
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  background-color: var(--clr-light);
  color: var(--clr-primary);
  width: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.25s ease;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--clr-white);
  transform: scale(1.005);
}

.nav-wrapper{
  gap: var(--space-0);
}
.logo{
  height: 100%;
  aspect-ratio: 1/1;
}
.logo img {
  height: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: clamp(.9rem, 6vw, 8vw);
  margin-right: var(--space-5);
}
.nav-list li {
  justify-content: center;
} 

.nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.15rem;
}

.nav-list li a:hover,
.nav-list li a:focus,
.nav-list li a:active{
  color: var(--clr-dark);
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  border: 0;
  right: var(--space-4);
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  width: 1.75rem;
  aspect-ratio: 1;
  background-image: url(/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(/images/icon-close.svg);
  width: 1.75rem;
}

@media(min-width: 700px) {
  .mobile-nav-toggle {
    display: none;
  }
  .primary-header {
    position: sticky;
    top: 0;
    z-index: 1100;
  }
}
@media(max-width: 700px) {
  .primary-navigation {
    display: none;
    position: absolute;
    inset: 7.5rem var(--space-4) auto ;
    background-color: white;
    border-radius: var(--space-1);
    padding: var(--space-5);
    text-align: center;
    font-weight: var(--fw-bold);
    box-shadow: 0 0 .75em rgb(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .primary-navigation[data-visible]{
    display: block;
  }
  .primary-navigation[data-visible] .nav-list{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin: 0;
    padding: var(--space-4) 0;
  }
  .primary-header[data-overlay] {
    position: relative;
    z-index: 1000;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / .3), rgb(0 0 0/ .55));
  }
}

.join-section .container{
  border-radius: var(--space-1);
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: var(--space-7) var(--space-3) var(--space-8) var(--space-3);
}
.newsletter-section{
  background-color: var(--clr-dark);
  color: var(--clr-white);
}
.newsletter-iframe{
  border-radius: var(--space-3);
  box-shadow: 0 0 .75em rgba(0, 0, 0, .25);
}

.footer-text {
  font-size: 0.9rem;
  opacity: 0.85;
}

/* resources */
.resources-section h1 {
  text-align: center;
  color: var(--clr-dark);
  margin-bottom: 1rem;
  font-size: var(--space-5);
}

.resources-section .intro {
  text-align: center;
  margin-bottom: var(--space-5);
}

.resources-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.resource-item{
  max-width: 100%;
}
.resource-item h3 {
  font-size: var(--space-4);
  color: var(--clr-dark);
  margin-bottom: 0.75rem;
}

.resource-item ul {
  padding: 0;
}

.resource-item li {
  margin-bottom: 0.5rem;
  margin-left: var(--space-5);
}

.resource-item a {
  color: var(--clr-bench);
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.25s ease, text-decoration-color 0.25s ease;
}

.resource-item a:hover {
  color: #2b6777;
  text-decoration-color: #2b6777;
}
.resource-item li::before {
  content: "• ";
  color: var(--clr-bench);
}
@media (max-width: 450px) {
  .resource-item h3 {
    font-size: 1.25rem;
  }
}